.skills{
    padding:25px 25px;
}

.section-title{
    margin-bottom:50px;
}

.section-title h2{
    font-size:3rem;
    font-weight:700;
}

.section-title span{
    color:#6366f1;
}

.section-title p{
    color:#888;
    margin-top:10px;
}

.skills-grid{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:28px;

}

.skill-card{

    border:1px solid #e8e8e8;
    border-radius:18px;
    padding:28px;
    background:white;
    transition:.35s;

}

.skill-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 40px rgba(0,0,0,.08);

}

.skill-heading{

    padding-left:14px;
    margin-bottom:28px;

}

.skill-heading h3{

    font-size:1.4rem;
    margin-bottom:4px;

}

.skill-heading small{

    color:#999;

    text-transform:uppercase;

    letter-spacing:2px;

    font-size:11px;

}

.skill-icons{

    display:flex;

    flex-wrap:wrap;

    gap:18px;

}

.icon-box{

    width:90px;

    height:90px;

    border-radius:16px;

    border:1px solid #ececec;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    transition:.3s;

}

.icon-box:hover{

    transform:translateY(-6px);

    box-shadow:0 12px 25px rgba(0,0,0,.08);

}

.icon-box svg {
  transition: all 0.3s ease;
  margin-bottom:10px;
}

.icon-box:hover svg {
  transform: scale(1.15) rotate(5deg);
}



.icon-box span{

    font-size:12px;

    text-align:center;

}

@media(max-width:900px){

.skills-grid{

grid-template-columns:1fr;

}

}

@media(max-width:600px){

.icon-box{

width:80px;

height:80px;

}

.section-title h2{

font-size:2.2rem;

}

}